.page-content{
	padding: 10px;
	margin-top: 5%;
	height: 70vh;
}
.page-footer{
	padding: 20px;
}
.form-register{
	margin-top: 10%;
}
.textarea-content{
	min-height: 190px;
	max-height: 190px;
}
.container-posts{
	background-color: #ddd;

}
.like-button{
	background: transparent;
	border:none;
	border-radius: 50%;
	cursor: pointer;
}
.like:hover{
	background-color: #ddd;
	text-decoration: none;
}
.like{
	cursor: pointer;
}